/* this is the color schime https://colorhunt.co/palette/f76e11ff9f45ffbc80fc4f4f */

body {
  font-family: "Montserrat-black";
}

h2 {
  font-family: "Montserrat-bolder";
  font-size: 3rem;
}

h3 {
  font-family: "Montserrat-bolder";
}

/********************  class ************************************/

#first-section {
  background-color: #ff9f45;
  color: #fff;
}

.Montserrat-3rem-15lineH {
  font-family: "Montserrat-black";
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}
.rotate {
  width: 50%;
  transform: rotate(25deg);
}

/* navigatin-bar */

.navbar {
  padding: 0 0 4.5rem 0;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

.bigger {
  font-size: 3.5rem;
  font-family: "Montserrat-black";
  font-weight: bolder;
}

/* Fatures */
#features {
  padding: 7% 15%;
}

.features-box {
  text-align: center;
  padding: 0 10%;
}

.second-background {
  background-color: #f76e11;
}

.features-basic-font-style {
  font-family: "Montserrat-bold";
}

.icon {
  color: #000000;
  margin-bottom: 1.2rem;
}

.icon:hover {
  color: rgb(90, 84, 84);
}

/* testemunials */

#testimonials {
  text-align: center;
  background-color: #ff9f45;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.teste-img {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

/* press */
#press {
  background-color: #ff9f45;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */

#pricing {
  padding: 100px;
  background-color: #f76e11;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

/* Call to Action */

#cta {
  text-align: center;
  font-family: "Montserrat-black";
  background-color: #ff9f45;
  padding: 0 25%;
}

.cta-h3 {
  color: #fff;
}

/* Footer */
#footer {
  text-align: center;
}

.copy {
  margin: 1% auto;
}
